# Coursera Capstone Project
## The Battle of Neighborhoods 
### HEMAJA PATOJU - Part 1 : Introduction and Data Sections


### Coursera Capstone - REPORT CONTENT

#### Introduction Section : 
   Discussion of the business problem and the interested audience in this project.
#### Data Section: 
   Description of the data that will be used to solve the problem and the sources.
#### Methodology section: 
   Discussion and description of exploratory data analysis carried out, any inferential statistical testing performed, and if any machine learnings were used establishing the strategy and purposes.
#### Results section: 
   Discussion of the results.
#### Discussion section: 
   Elaboration and discussion on any observations noted and any recommendations suggested based on the results.
#### Conclusion section: 
   Report Conclusion.

### 1. Introduction: Business Problem
   Since the beginning of 2020, Jakarta and many other cities around the world have been under attack by an invisible army called ‘Novel Corona Virus’, also known as ‘Covid-19’. Every effort has been focusing on solving or minimizing problems, including Data Scientists. Data Scientists assessed the situations in places around the world, such as availability, amount, and geographical distribution (i.e. locations) of health infrastructures, such as virus testing centers and authorized hospitals to treat affected patients. In this article, we would like to present a simple analysis for determining strategic locations for the distribution of masks and medical devices for COVID-19 treatment, based on confirmed cases on May 28, 2020, and the red zone areas for “new normal” condition analysis.

### 2. Data
#### A few Identified factors that influence our decision are:
- Covid-19 cases per district “Riwayat File Covid-19 DKI Jakarta”
- Total population in DKI Jakarta 2020 statistik.jakarta.go.id
- 10 most population in DKI Jakarta 2020 per district statistik.jakarta.go.id
- Hospital for treatment covid-19 megapolitan.kompas.com

###### The following data sources are needed to extract/generate the required information:
- Processed covid-19 positive case data collection on 28 May 2020 At 09.00.
- The distribution of mask sales based on the population in the DKI Jakarta area.
- The distribution of mask sales based on 5 districts with the most densely populated populations.
- New datasets (to be created) from Hospital table that contains city, district, along with their latitudes and longitudes.

### Import necessary libraries

In [9]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from bs4 import BeautifulSoup # library for web scrapping 

#!conda install -c conda-forge geocoder --yes
#print ("install geocoder")
#!conda install -c conda-forge/label/gcc7 geocoder --yes
#print ("install geocoder2")
#!conda install -c conda-forge/label/cf201901 geocoder --yes
#print ("install geocoder3")
#!conda install -c conda-forge/label/cf202003 geocoder --yes
#print ("install geocoder4")
#import geocoder

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [10]:
CLIENT_ID = 'HemajaPatoju' # your Foursquare ID
CLIENT_SECRET = 'Hemaja@123' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: HemajaPatoju
CLIENT_SECRET:Hemaja@123

#### Covid-19 cases per district.

In [11]:
# Read in the data Covid-19 cases per district (28 May,2020)
df_cases = pd.read_csv("https://raw.githubusercontent.com/cahyati/Coursera_Capstone/master/Standar%20Kelurahan%20Data%20Corona%20(28%20MEI%202020%20Pukul%2009.00).csv")
# View the top rows of the dataset
df_cases.head()

,ID_KEL,ID_KEL.1,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses Pemantauan,Selesai Pemantauan,PDP,Masih Dirawat,Pulang dan Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self Isolation,Keterangan
0,NaN,NaN,NaN,NaN,NaN,TOTAL,30704,746,29958,9577,1005,8572,6929,2055,1719,514,2641,0.0
1,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,BELUM DIKETAHUI,3723,107,3616,2584,272,2312,539,149,26,8,356,NaN
2,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,LUAR DKI JAKARTA,5706,342,5364,1638,229,1409,1329,499,382,71,377,NaN
3,3173061005,3173061005,DKI JAKARTA,JAKARTA BARAT,KALI DERES,PEGADUNGAN,129,0,129,61,0,61,51,15,28,4,4,NaN
4,3174071006,3174071006,DKI JAKARTA,JAKARTA SELATAN,KEBAYORAN BARU,SENAYAN,7,0,7,13,0,13,17,0,16,0,1,NaN

In [12]:
df_cases.tail()

,ID_KEL,ID_KEL.1,Nama_provinsi,nama_kota,nama_kecamatan,nama_kelurahan,ODP,Proses Pemantauan,Selesai Pemantauan,PDP,Masih Dirawat,Pulang dan Sehat,POSITIF,Dirawat,Sembuh,Meninggal,Self Isolation,Keterangan
265,3101021002,3101021002,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU TIDUNG,175,1,174,1,0,1,13,3,0,0,10,NaN
266,3173031008,3173031008,DKI JAKARTA,JAKARTA BARAT,TAMAN SARI,PINANGSIA,13,0,13,3,0,3,1,0,0,0,1,NaN
267,3174021001,3174021001,DKI JAKARTA,JAKARTA SELATAN,SETIA BUDI,SETIA BUDI,15,0,15,7,0,7,3,2,1,0,0,NaN
268,3173041001,3173041001,DKI JAKARTA,JAKARTA BARAT,TAMBORA,TAMBORA,21,0,21,7,4,3,2,0,0,0,2,NaN
269,3101021001,3101021001,DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SELATAN,PULAU UNTUNG JAWA,20,0,20,0,0,0,0,0,0,0,0,NaN

In [14]:
df_cases.shape

(270, 18)

#### Total population data in DKI Jakarta 2020.

In [15]:
import pandas as pd
# Read in the data total population in DKI Jakarta 2020
df_population = pd.read_csv("https://raw.githubusercontent.com/cahyati/Coursera_Capstone/master/population2020_DKI_Jakarta.csv")
# View the top rows of the dataset
df_population

              City  Total population 2020(people/km²)
0    Jakarta Pusat                              23877
1    Jakarta Barat                              19592
2    Jakarta Timur                              16924
3  Jakarta Selatan                              16600
4    Jakarta Utara                              12409
5      Kep. Seribu                               3334

In [16]:
df_population.info()

# Get the number of total / confirmed POSITIVE cases in Jakarta per 28 May 2020
print ("Total Polulation :", df_population['Total population 2020(people/km²)'].sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   City                               6 non-null      object
 1   Total population 2020(people/km²)  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes
Total Polulation : 92736

#### Data from 10 districts most pupulated in DKI Jakarta, 2020.

In [18]:
# Read in the data 10 most pupulation in DKI Jakarta 2020 per district
df_most_population = pd.read_csv("https://raw.githubusercontent.com/cahyati/Coursera_Capstone/master/10_kelurahan%20terpadat_DKI_Jakarta.csv")
# View the top rows of the dataset
df_most_population

         district  Total population 2020 (people/km²)
0      Kali_Anyar                               95676
1    Kampung_Rawa                               91441
2           Galur                               89160
3    Tanah_Tinggi                               77367
4       Kerendang                               76343
5    Utan_Panjang                               69559
6   Jembatan_Besi                               67874
7       Keagungan                               67717
8  Kampung_Melayu                               66594
9    Karang_Anyar                               65141

In [19]:
df_most_population.head()

       district  Total population 2020 (people/km²)
0    Kali_Anyar                               95676
1  Kampung_Rawa                               91441
2         Galur                               89160
3  Tanah_Tinggi                               77367
4     Kerendang                               76343

#### According to the information update from Kompas.com (megapolitan.kompas.com), the following hospitals are the existing reference hospitals for Covid-19 testing in Jakarta area:
- RSPI Sulianti Saroso, Jakarta Utara
- RSUP Persahabatan, Jakarta Timur
- RSPAD Gatot Soebroto, Jakarta Pusat
- RSUP Fatmawati, Jakarta Selatan
- RSU Bhayangkara, Jakarta Timur
- RSAL Mintohardjo, Jakarta Pusat
- RSUD Cengkareng, Jakarta Barat
- RSUD Pasar Minggu, Jakarta Selatan
- RSKD Duren Sawit, Jakarta Timur
- RS Pelni, Jakarta Barat
- RSUD Tarakan, Jakarta Pusat
- RSUD Koja, Jakarta Utara
- RSU Pertamina Jaya, Jakarta Pusat

In [23]:
# Read in the data Hospital for treatment covid-19
df_hospital = pd.read_csv("https://raw.githubusercontent.com/cahyati/Coursera_Capstone/master/Hospital%20for%20treatment%20covid-19.csv")
# View the top rows of the dataset
print(" Total no of hospitals were: 13")
df_hospital.head()

 Total no of hospitals were: 13

                       Hospital             City       District
0          RSPI Sulianti Saroso    Jakarta Utara  Tanjung Priok
1             RSUP Persahabatan    Jakarta Timur    Pulo Gadung
2          RSPAD Gatot Soebroto    Jakarta Pusat          Senen
3                RSUP Fatmawati  Jakarta Selatan       Cilandak
4  RSU Bhayangkara Said Sukanto    Jakarta Timur    Kramat Jati

#### This sums up our data mining and data exploration section